.button {
    position: absolute;
    top: 450px;
    left: 700px;
    background-color: blue;
    border: 0;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    color: white;
    transition: 0.25s ease all;
    user-select: none;
}
